body {
    /*background-image: url("../img/wojak.png");*/
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    opacity: 0.95;
}

/* Header related */
.header_container {
    display: inline-flex;
    padding-left: 50px;
}
#header_text {
    padding-left: 30px;
    font-size: 18px;
}
#header_text2 {
    padding-left: 30px;
    font-size: 18px;
}

/* Input related*/
#table_main {
    width: 70%;
}


#input_addresses {
    word-wrap: break-word;
    word-break: break-all;
    height: 60px;
    min-width: 370px;
}

/* Results related*/
#table_results {
    width: 70%;
}

#resultsDiv {
    display:none;
}

.div_totalEarnings {
    max-width:400px;
    display: inline-flex;
    padding-left: 50px;
}
.earnings_spacing {
    padding-top: 6px;
    padding-left: 20px;
    vertical-align: text-bottom;
}

#image_title {
    max-height: 40px;
}

#imageHint {
    background-color: white;
}

/* Footer*/
#table_total {
    max-width: 40%;
}

#coinmarketcap_widget {
    padding-bottom: 30px;
    padding-top: 10px;
    max-width: 500px;
}

/* responsive */
@media only screen and (max-width: 600px) {
    #input_addresses {
        word-wrap: break-word;
        word-break: break-all;
        height: 40px;
        min-width: 170px;
    }

    #table_main {
        min-width: 400px;
    } 

    #table_results {
        min-width: 400px;
    }

    .table_results_td {
        max-width: 130px;
        word-break:break-word;
    }
    .table_results_tr {
        border-bottom: 1pt solid black;
    }
    
    #table_total {
        min-width: 400px;
    }
}